/.images/
/.octopus/
/.rook-config/
/.tools/
/.upgrade-from-config/
/.upgrade-to-config/

/_node-list
/kubeconfig

/developer-settings

/rook
/scripts/rook/_*
/_output

/ceph

/supportutils-plugin-rook
/supportutils-plugin-ses

__pycache__
