/.images/
/.octopus/
/.rook-config/
/.tools/
/.upgrade-from-config/
/.upgrade-to-config/
/.cluster

/_node-list
/kubeconfig

/developer-settings

/k8s-vagrant-multi-node

/rook
/_output

/ceph

__pycache__
